<div class="card-body pt-0 pb-0">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="lastNameinput" class="form-label">Fecha Inicio Vale</label>
                <input id="input-dfeinfi" type="date" [ngClass]="{'disabled-color':btnVerData === false}"
                    [disabled]="btnVerData === false" class="form-control form-control-sm" max="{{getMaxDate()}}"
                    [(ngModel)]="ccv_feciva">
            </div>
            <div *ngIf="error === 'Fecha Informe Final, Invalida'" class="text-danger">Campo obligatorio *</div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="lastNameinput" class="form-label">Fecha Cierre Vale</label>
                <input id="input-dfeinfi" type="date" [ngClass]="{'disabled-color':btnVerData === false}"
                    [disabled]="btnVerData === false" class=" form-control form-control-sm" [(ngModel)]="ccv_feccva">
            </div>
            <div *ngIf="error === 'Fecha Informe Final, Invalida'" class="text-danger">Campo obligatorio *</div>

        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="" class="form-label">Número Vale</label>
                <input id="input-cnuinfi" type="text" [ngClass]="{'disabled-color': ccv_id > 0}" [disabled]="ccv_id > 0"
                    [(ngModel)]="ccv_numero" maxlength="8" class="form-control form-control-sm">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="" class="form-label">Monto </label>
                <input [ngModel]="ccv_monval " [ngClass]="{'disabled-color': btnVerData === false}"
                    [disabled]="btnVerData === false" (keypress)="validarNumero($event)"
                    (ngModelChange)="ccv_monval = $event" type="text" class="form-control form-control-sm "
                    id="montoinfra" [inputMask]="currencyInputMask" placeholder="S/. 0.00" />
            </div>
            <div *ngIf="error === 'Fecha Informe Final, Invalida'" class="text-danger">Campo obligatorio *</div>

        </div>

        <!-- <div class="col-md-6">
            <label for="" class="form-label col-sm-6 col-form-label-sm">Monto </label>
            <input disabled [ngModel]="nmonto " (keypress)="validarNumero($event)" (ngModelChange)="nmonto = $event"
                type="text" class="form-control form-control-sm disabled-color" id="montoinfra"
                [inputMask]="currencyInputMask" placeholder="S/. 0.00" />
            <div *ngIf="error === 'Monto Infraccion no puede ser CERO'" class="text-danger">Campo Obligatorio *</div>
        </div> -->

        <div class="col-md-12">
            <div class="mb-3">
                <label for="" class="form-label">Area</label>
                <!-- <select [(ngModel)]="ard_id" [ngClass]="{'disabled-color': ccv_id > 0}" [disabled]="ccv_id > 0"
                    class="form-select form-select-sm">
                    <option [value]="0">Seleccionar</option>
                    <option *ngFor="let data of dataArea" [value]="data.ard_id">
                        {{data.ard_descri}}
                    </option>
                </select> -->
                <ng-select style="border: 1px solid #b9b9b9; border-radius: 5px;" [(ngModel)]="ard_id"
                    [ngClass]="{'disabled-color': ccv_id > 0}" [disabled]="ccv_id > 0" (input)="onInputChange($event)"
                    [items]="dataArea" bindValue="ard_id" bindLabel="ard_descri" placeholder="Seleccionar"
                    (change)="onSelectionChangeArea($event)">
                </ng-select>
            </div>
        </div>

        <div class="col-md-12">
            <div class="mb-3">
                <label for="" class="form-label">Observaciones</label>
                <input type="text" [ngClass]="{'disabled-color':btnVerData === false}" [disabled]="btnVerData === false"
                    class="form-control form-control-sm" id="montoinfra" oninput="this.value = this.value.toUpperCase()"
                    [(ngModel)]="ccv_observ" />
                <div *ngIf="error === 'Monto Infraccion no puede ser CERO'" class="text-danger">Campo Obligatorio *
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <!-- <div class="text-end">
                <button id="btn-anular" type="button" (click)="anularInformeFinal()"
                    class="btn btn-danger show-hide">Anular</button>
            </div> -->
            <div class="text-end" *ngIf="btnVerData">
                <button id="btn-guardar" type="button" (click)="registrarVales()"
                    [ngClass]="{'btn': true,'btn-primary': ccv_id === 0, 'btn-info': ccv_id > 0}">{{txt_button}}</button>
            </div>
        </div>
    </div>
</div>