<section
    class="auth-page-wrapper-2 py-4 position-relative d-flex align-items-center justify-content-center min-vh-100 bg-smp-color ">
    <div class="container">
        <div class="row g-0 justify-content-center" *ngIf="componenteListo">
            <div class="col-lg-7">
                <div class="card mb-0 border-0 br-15">
                    <div class="card-body p-4 p-sm-5 m-lg-4">
                        <div class="text-center mt-2">
                            <img class="mb-4" src="./assets/images/logo.png" alt=""><br>
                            <p class="text-muted fs-15">Inicie sesión para ingresar al Sistema de Presupuesto
                            </p>
                        </div>
                        <div class="p-2 mt-4">
                            <div class="mb-3">
                                <label for="username" class="form-label">Usuario</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="ri-user-3-line"></i></span>
                                    <input #inputUsuario type="text" class="form-control" id="username"
                                        [(ngModel)]="p_nomusu" placeholder="Ingrese su usuario" autocomplete="off">
                                </div>
                            </div>
                            <!-- <div class="mb-3">
                                <label class="form-label" for="">Nombre</label>
                                <div class="position-relative auth-pass-inputgroup overflow-hidden">
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><i class=" ri-text"></i></span>
                                        <input [(ngModel)]="nomusu" disabled="" type="text" class="form-control pe-5 "
                                            id="" style="background-color: #e1e1e1;">
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="mb-3">
                                <label class="form-label" for="">Area</label>
                                <div class="position-relative auth-pass-inputgroup overflow-hidden">
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class=" ri-map-pin-line"></i></span>
                                        <input [(ngModel)]="desare" disabled="" type="text" class="form-control pe-5  "
                                            id="" style="background-color: #e1e1e1;">
                                    </div>
                                </div>
                            </div> -->
                            <div class="mb-3">
                                <label class="form-label" for="password-input">Contraseña</label>
                                <div class="position-relative auth-pass-inputgroup overflow-hidden">
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="ri-lock-2-line"></i></span>
                                        <input #inputContra type="password"
                                            (keydown.tab)="ingresarUsuario(inputContra.value)"
                                            (keyup.enter)="ingresarUsuario(inputContra.value)"
                                            class="form-control pe-5 password-input" [(ngModel)]="p_passwd"
                                            placeholder="Ingrese su contraseña" id="password-input">
                                    </div>
                                    <button
                                        class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                                        type="button" id="password-addon" (click)="togglePassword()"><i id="passwordEye"
                                            class="ri-eye-fill align-middle"></i></button>
                                </div>
                            </div>
                            <div class="mt-5">
                                <button id="btnLoginAction" class="btn bg-smp-color w-100 tc-white br-15" type="button"
                                    (click)="ingresarUsuario(inputContra.value)">Ingresar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-toast></app-toast>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-square-spin" [fullScreen]="false">
    <p style="color: white">Buscando información...</p>
</ngx-spinner>