<div class="row">
    <div class="col-12">
        <div class="card card-h-100">
            <div class="card-body">
                <div>
                    <table id="tablaAplicacion" datatable [dtOptions]="dtOptionsModal" [dtTrigger]="dtTrigger"
                        class=" align-middle mb-0 " style="width: 100%;">
                        <thead class="table-light">
                            <tr style="font-size: 12px;">
                                <th class="text-center">Año</th>
                                <th class="text-center">Fecha Inicio</th>
                                <th class="text-center">Fecha Fin</th>
                                <th class="text-center">Fecha Cierre</th>
                                <th class="text-center">Monto</th>
                                <!-- <th class="text-center">Vale</th> -->
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody style="overflow-y: scroll;">
                            <tr ngClass="" *ngFor="let data of datosPeriodo; let i = index"
                                class="text-center tr_hover">
                                <td>{{ data.cca_anyper }}</td>
                                <td>{{ data.cca_fecini | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ data.cca_fecfin | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ data.cca_feccie | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ data.cca_montot | number: '1.2-2' }}</td>
                                <!-- <td>{{ data.cca_monval | number: '1.2-2' }}</td> -->
                                <td>
                                    <button type="button" (click)="emitir(data.cca_anyper)"
                                        style="padding: 2px 5px; margin: 2px 5px; " class="btn btn-primary btn-sm">
                                        <i class="ri-check-fill"></i>
                                    </button>
                                    <button type="button" style="padding: 2px 5px; margin: 2px 0px; " title="Editar"
                                        class="btn btn-info btn-sm"
                                        (click)="modalRegistrarPeriodo(registrarPeriodo, data)">
                                        <i class="ri-pencil-fill"></i>
                                    </button>
                                    <button type="button"
                                        (click)="sweetAlertValidar(data,'Estas seguro de cerrar esta caja?', 'Si, cerrar caja')"
                                        style="padding: 2px 5px; margin: 2px 5px; " title="Cierre"
                                        class="btn btn-warning btn-sm">
                                        C
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="" style="padding: 10px; display: flex; justify-content: left;">
                <button type="button" class="btn btn-primary btn-label btn btn-sm"
                    (click)="modalRegistrarPeriodo(registrarPeriodo,null)">
                    <i class="ri-save-3-line label-icon align-middle fs-16"></i>
                    Nuevo
                </button>
            </div>
        </div>
    </div>
</div>


<ng-template #registrarPeriodo>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header" style="display: flex; justify-content: space-between;">
                    <h4 class="card-title mb-0">{{text_tittle}}</h4>
                    <a class="" style="cursor: pointer;" (click)="cerrarModal('crear-periodo')"> <i
                            style="font-size: 1.50rem; " class=" ri-close-fill"></i></a>
                </div>
                <div class="card-body">
                    <app-gestion-periodos-crear (periodoRegistrado)="actualizarData()"></app-gestion-periodos-crear>
                </div>
            </div>
        </div>
    </div>
</ng-template>




<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-square-spin" [fullScreen]="false">
    <p style="color: white">Buscando información...</p>
</ngx-spinner>