<div class="main-content">
    <div class="page-content" style="display: flex; flex-direction: column; justify-content: center;">
        <!-- <div class="title_multas">
            <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif; text-align: center; margin-bottom: 50px;">
                SISTEMA DE MULTAS ADMINISTRATIVAS
            </h1>
        </div> -->
        <div class="container-fluid" style="display: flex; justify-content: center; align-items: center;">
            <img style="width: 650px; height: 200px;" src="./assets/images/logo.png" alt="">
        </div>
    </div>
</div>