<div class="card-body pt-0 pb-0">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="lastNameinput" class="form-label">Periodo</label>
                <input id="input-dfeinfi" (keypress)="validarNumero($event)" [disabled]="cca_id > 0"
                    [ngClass]="{'disabled-color': cca_id > 0}" [(ngModel)]="cca_anyper" placeholder="Ejm: {{yearVal}}"
                    type="number" class="form-control form-control-sm">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="" class="form-label">Monto </label>
                <input (keypress)="validarNumero($event)" [(ngModel)]="cca_montot" type="text"
                    class="form-control form-control-sm " id="montoinfra" [inputMask]="currencyInputMask"
                    placeholder="S/. 0.00" />
            </div>
        </div>
        <div class="col-lg-12">
            <!-- <div class="text-end">
                <button id="btn-anular" type="button" (click)="anularInformeFinal()"
                    class="btn btn-danger show-hide">Anular</button>
            </div> -->
            <div class="text-end">
                <button id="btn-guardar" (click)="this.registrarCajaAny()" type="button" [ngClass]="{
                        'btn': true,
                        'btn-primary': cca_id === 0,
                        'btn-info': cca_id > 0 }">{{txt_button}}</button>
            </div>
        </div>
    </div>
</div>